<div class="login_com">
	<div class="panel-lite">
		<div class="thumbur">
			<div class="icon-lock"></div>
		</div>
		<h4>Change Password</h4>
		<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input class="form-control" type="hidden" formControlName="email" [(ngModel)]="email"/>
				<input class="form-control" type="hidden" formControlName="item" [(ngModel)]="item"/>
				<input class="form-control" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
				<label class="form-label">Password</label>
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required" style="color:red;">Password is required</div>
					<div *ngIf="f.password.errors.minlength" style="color:red;">Password must be at least 6 characters</div><br>
				</div>
			</div>
			<div class="form-group">
				<input class="form-control" type="password" formControlName="cpassword" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }"/>
				<label class="form-label">Confirm Password</label>
				<div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
					<div *ngIf="f.cpassword.errors.required" style="color:red;">Confirm Password is required</div>
					<div *ngIf="f.cpassword.errors.mustMatch" style="color:red;">Passwords must match</div><br>
				</div>
			</div>
			<button class="floating-btn"><i class="icon-arrow"></i></button>
		</form>
	</div> 
</div>