<div class="modal-header">
  <h4 class="modal-title">Edit Flag</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div style="text-align: center;">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="re_new_group_one">
              <input type="hidden" name="id" formControlName="id"  [(ngModel)]="id"/>
            <input type="text" placeholder="Enter Flag Name" name="flag_name" formControlName="flag_name" [ngClass]="{ 'is-invalid': submitted && f.flag_name.errors }"  [(ngModel)]="flag_name"/>
            <div *ngIf="submitted && f.flag_name.errors" class="invalid-feedback">
              <div *ngIf="f.flag_name.errors.required" style="color:red;">Flag name is required</div><br>
            </div>
        </div>
        <br>
        <button  class="registerbtn">Edit</button>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="re_close" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>