<div class="login_com">
	<div class="panel-lite">
		<div class="thumbur">
			<div class="icon-lock"></div>
		</div>
		<h4 class="re_resetform_title">Reset Your Password</h4>
		<form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<input class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
				<label class="form-label">Email</label>
				<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required" style="color:red;">Email is required</div>
          <div *ngIf="f.email.errors.email" style="color:red;">Email must be a valid email address</div><br>
        </div>
      </div>
      <p class="re_resetform_note">Please enter your email address to search for your account.</p>
			<button class="floating-btn"><i class="icon-arrow"></i></button>
		</form>
	</div> 
</div>