.row {
    margin-right: -8px;
    margin-left: -8px;
}
/************************************************/
.re_in_reconcile {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
}
.col-lg-6.col-md-12.re_left.re_in_reconcile {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
}
.col-lg-6.col-md-12.re_right.re_in_reconcile {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 30px;
}
.re_left_table tr:nth-child(even) {background-color: #e2e2e2;}
.re_right_table tr:nth-child(even) {background-color: #ddebf4;}

.re_left_col table {
    width: 100%;
    border: 1px dotted #c1c1c1;
}
.re_left_col thead {
    border-bottom: 1px solid #c1c1c1;
}
.re_left_col th {
    border-right: 1px dotted #dcdcdc;
    border-bottom: 1px solid #dcdcdc !important;
    color: #505050;
    font-size: 13px;
    padding: 0px 3px;
}
.re_left_title h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 3px;
}
.re_left_col tbody {
    background-color: #fff;
}
.re_left_col td {
    border-right: 1px inset #d2d2d2;
    color: #333;
    font-size: 13px;
    padding: 0px 3px;
    font-weight: normal;
}

/*===== Right column=====*/
.re_right_col table {
    width: 100%;
    border: 1px dotted #c1c1c1;
}
.re_right_col thead {
    border-bottom: 2px solid #c1c1c1;
}
.re_right_col th {
    border-right: 1px dotted #dcdcdc;
    border-bottom: 1px solid #dcdcdc !important;
    color: #505050;
    font-size: 13px;
    padding: 0px 3px;
}
.re_right_title h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 3px;
}
.re_right_col tbody {
    background-color: #fff;
}
.re_right_col td {
    border-right: 1px inset #d2d2d2;
    color: #333;
    font-size: 13px;
    padding: 0px 3px;
    font-weight: normal;
}
.re_bottom_note {
    padding: 0px 2px;
}

.modal-backdrop {
    background-color: transparent !important;
}

.re_reconcile_div {
    margin: 30px 0px;
    text-align: right;
    padding-right: 5px;
}

.re_deposit_totle {
    font-weight: 600;
    font-size: 15px;
}

.re_reconcile_div {
    margin: 30px 0px;
    text-align: right;
    padding-right: 80px;
}
.re_deposit_totle {
    font-weight: 600;
    font-size: 15px;
}
button.reconcile_button.disabled {
    color: #5d5d5d;
    background-color: #c3c3c3;
}
button.reconcile_button {
    margin: 30px 0px;
    background-color: #235979;
    color: #fff;
    border-radius: 7px;
    padding: 5px 15px;
    border: 1px solid #fff;
}
.re_chk_hide {
    display: none;
}
.re_left_title {
    margin-top: 10px;
}
.re_right_title {
    margin-top: 10px;
}
.ref_loding.loading {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(-359deg);
    }
}

.ref_load_div{
    width: 100%;
    text-align: center;
    padding: 42% 0px;
}

.pointer{ 
    cursor: pointer; 
}

.amount_right{
    text-align: right;
}

textarea.re_note {
    width: 100%;
    margin-top: 15px;
    border-radius: 3px;
}

.row_checked_bg{
    background-color: #4b991d !important;
}
  button.transfer_button, button.reconcile_button{
    margin-left: 10px;
}

.note_button_div {
    text-align: right;
    margin-top: 10px;
}

button.note_button.reconcile_button {
    margin: 0px;
}
.note_loading_img{
    display: none;
}
textarea.form-control.re_note_textarea {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
}

mwl-text-input-autocomplete-menu.intro ul li a {
    color: #000 !important;
}