.re_nav {
    background-color: #1d4963;
}  
.re_nav ul.dropdown-menu {
    top: 38px;
    margin: 0px 15px 0;
    width: 200px;
    padding-bottom: 15px;
}
.re_nav li.nav-item{position: relative;}
.re_nav li.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
    transform: none;
}
.re_nav ul.dropdown-menu>li>a {
    background-color: #548aab;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px #2a4b5f;
}
.re_nav ul.dropdown-menu>li>a i.material-icons {
    color: #fff;
}