.pointer{ 
    cursor: pointer; 
}
tbody tr td {
    font-weight: normal;
    padding: 6px 10px !important;
  }

  .email_padding {
    width: 90px !important;
}
.table thead tr th {
    font-size: 15px !important;
}